{% load static %}
<html>
    <head>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <link rel="stylesheet" href="{% static 'assets/css/signin2.css' %}" >
    </head>

    <body> 
            <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
                <div class="container">
                    <div class="card card-container" style='background-color:#ffffff'>
                        <h2 class="text-center" style="color:#5B9BD1;">Merchandise Automation</h2>                        
                        <h3><p id="profile-name" class="profile-name-card" >Welcome To Our Website.</p></h3>
                        
                        <form class="form-signin" method="post" action="" >
                            {% csrf_token %}
                            <span id="reauth-email" class="reauth-email"></span>
                            <input type="text" id="inputEmail" name="username" class="form-control h-input-text" placeholder="Username:" required autofocus>
                            <input type="password" id="inputPassword" name="password" class="form-control h-input-text" placeholder="Password:" required>
                            <div id="remember" class="checkbox">
                                <label>
                                    <input type="checkbox" value="remember-me"> Remember me
                                </label>
                            </div>
                            <button class="btn btn-lg btn-primary btn-block btn-signin h-btn-signin" type="submit">Sign in</button>
                        </form><!-- /form -->
                         <!-- <a href="#" class="forgot-password">
                            Forgot the password?
                        </a>  -->
                    </div><!-- /card-container -->
                </div><!-- /container -->
    </body>
</html>